.header_bg {
    background-color: $color-2;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20%;

    padding: 10px;

    .phone_container {
        display: flex;
        align-items: center;

        .phone_number {
            margin-left: 1rem;
            text-align: center;
            margin-bottom: 0;
            color: $color-3;
            font-size: 14px;
        }
    }

    .social_container {

        .social_link {
            text-decoration: none;
            margin-left: 1rem
        }

        .awesome_icon_social:hover {
            color: $color-1;
        }
    }

    .awesome_icon {
        color: $color-3;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px)  {
    .header_container {
        margin: 0 2%;
        padding: 10px;

        .awesome_icon {
            font-size: 1.2rem;
        }

        .phone_container {
            .phone_number {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header_container {
        margin: 0;
        padding: 5px;

        .awesome_icon {
            font-size: 1rem;
        }

        .phone_container {
            .phone_number {
                font-size: 12px;
            }
        }
    }
}