.nav_bg {
    background: transparent
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    margin: 0 20%;

    .logo {
        height: 70px;
        width: 170px;
    }

    .nav_link_container {
        margin-left: auto;

        .nav_link {
            text-decoration: none;
            margin-left: 1rem;
            color: black;

            &:hover {
                color: $color-1;
                border-bottom: 1px solid $color-1;
            }
        }

    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .nav_container {
        margin: 0 10%;

        .logo {
            height: 60px;
            width: 140px;
        }

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav_container {
        margin: 0 5%;
        padding: 1rem;

        .logo {
            height: 65px;
            width: 150px;
        }
    }

    .nav_link_container {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .nav_container {
        margin: 0;
        padding: 1rem;

        .logo {
            height: 45px;
            width: 110px;
        }
    }

    .nav_link_container {
        display: none;
    }
}