.view_container_background {
    background-color: rgba(233, 232, 232, 0.651);
    padding: 1rem 0;

    .view_container {
        margin: 0 20%;
        display: grid;
        grid-template-columns: 3fr 1.5fr;


        .itemDetail_container {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            margin: 0 2rem;

            .item_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem;

                .item_title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-size: 22px;
                    font-weight: bold;

                    .item_estado {
                        color: $color-3;
                        font-size: 14px;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        background-color: rgba(0, 0, 0, 0.925);
                        padding: 0.5rem;
                        margin: 0 2rem;
                    }
                }
                .item_direction {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 400;
                }
                .item_price{
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .items_carousel {
                width: 700px;

                .itemsCarousel_img {
                    height: 500px;
                    width: 100%;
                }
            }

            .info_title {
                margin: 1rem 0;
            }

            .item_description_container {
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 1rem;
                margin: 1rem 0;
            }

            .item_details_container {
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 1rem;
                margin: 1rem 0;
            }
        }

        .item_filters {
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}