.view_container_background {
    background-color: rgba(233, 232, 232, 0.651);
    padding: 1rem 0;

    .view_container {
        margin: 0 20%;
        display: grid;
        grid-template-columns: 3fr 1.5fr;


        .itemDetail_container {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            margin: 0 2rem;

            .item_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem;

                .item_title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-size: 22px;
                    font-weight: bold;
                }

                .item_estado {
                    color: $color-3;
                    font-size: 16px;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    background-color: $color-2;
                    padding: 0.5rem;
                    margin: 0.2rem auto;
                    text-align: center;
                    text-transform: uppercase;
                }

                .item_direction {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 400;
                }

                .item_price {
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .items_carousel {
                width: 700px;

                .itemsCarousel_img {
                    height: 500px;
                    width: 100%;
                }
            }

            .info_title {
                margin: 1rem 0;
            }

            .item_description_container {
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 1rem;
                margin: 1rem 0;
            }

            .item_details_container {
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 1rem;
                margin: 1rem 0;
            }
        }

        .item_ubi_container {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 1rem;
            margin: 1rem 0;
        }

        .item_side_container {
            display: flex;
            flex-direction: column;
            margin: 1rem 0;

            .side_contact {
                background-color: $color-3;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                .side_contact_title {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 1rem;
                    color: $color-2;
                }

                .side_concact_title {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                }

                .contacto_form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .contacto_input {
                        padding: 1rem;
                        margin: 1rem 2rem;
                    }

                    .contacto_button {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        margin: 1rem 2rem;
                        padding: 1rem;
                        border-radius: 8px;
                        border: none;
                        background-color: $color-1;
                        color: $color-3;
                    }

                    .contacto_wsp {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        text-decoration: none;
                        margin: 1rem 2rem;
                        padding: 1rem;
                        border-radius: 8px;
                        border: none;
                        background-color: #0cbc44;
                        color: $color-3;
                    }


                    .icon {
                        margin: 0 0.5rem;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {

    .view_container_background {
        padding: 1rem 0;

        .view_container {
            margin: 0 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .itemDetail_container {
                margin: 0;

                .item_info {
                    margin: 0.5rem 0;

                    .item_title {
                        font-size: 14px;
                    }


                    .item_estado {
                        color: $color-3;
                        font-size: 10px;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        background-color: rgba(0, 0, 0, 0.925);
                        padding: 0.3rem;
                        margin: 0.2rem auto;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .item_direction {
                        font-size: 12px;
                    }

                    .item_price {
                        font-size: 13px;
                    }
                }

                .items_carousel {
                    width: 350px;

                    .itemsCarousel_img {
                        height: 250px;
                        width: 100%;
                    }
                }

                .info_title {
                    margin: 0.2rem 0;
                    font-size: 16px;
                }

                .item_description_container {
                    width: 350px;

                    .item_description {
                        font-size: 14px;
                    }
                }

                .item_details_container {
                    width: 350px;

                    .item_detail {
                        font-size: 14px;
                    }
                }
            }

            .item_ubi_container {
                width: 350px;
            }
        }
    }

}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .view_container_background {
        padding: 1rem 0;

        .view_container {
            margin: 0 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .itemDetail_container {
                margin: 0;

                .item_info {
                    margin: 0.5rem 0;

                    .item_title {
                        font-size: 20px;
                    }


                    .item_estado {
                        color: $color-3;
                        font-size: 12px;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        background-color: rgba(0, 0, 0, 0.925);
                        padding: 0.3rem;
                        margin: 0.2rem auto;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .item_direction {
                        font-size: 14px;
                    }

                    .item_price {
                        font-size: 16px;
                    }
                }

                .items_carousel {
                    width: 600px;

                    .itemsCarousel_img {
                        height: 400px;
                        width: 100%;
                    }
                }

                .info_title {
                    margin: 0.2rem 0;
                    font-size: 18px;
                }

                .item_description_container {
                    width: 600px;

                    .item_description {
                        font-size: 16px;
                    }
                }

                .item_details_container {
                    width: 600px;

                    .item_detail {
                        font-size: 16px;
                    }
                }
            }

            .item_ubi_container {
                width: 600px;
            }

            .item_side_container {
                width: 600px;
            }
        }
    }
}