.main_items_container {
    display: flex;
    align-items: center;
    justify-content: center;

    .item_card {
        margin: 1rem;
        max-width: fit-content;
        padding: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;

        .item_link {
            text-decoration: none;
            color: black;
        }

        .item_title {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            color: $color-1;
            margin: 0.5rem 0;
        }

        .item_img {
            width: 22rem;
            height: 12rem;
            border-radius: 8px;
        }

        .item_txt {
            text-transform: uppercase;
            margin: 0.5rem 0;
        }

        .item_info {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            margin: 0.5rem 0;

            .item_info_txt {
                font-size: 14px;
            }
        }
    }


}

@media screen and (max-width: 768px) {

    .main_items_container {
        flex-wrap: wrap;

        .item_card {

            .item_title {
                font-size: 14px;
            }

            .item_img {
                width: 18rem;
                height: 12rem;
            }

            .item_txt {
                text-transform: uppercase;
                margin: 0.5rem 0;
                font-size: 14px;
            }

            .item_info {

                .item_info_txt {
                    font-size: 12px;
                }
            }
        }


    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .main_items_container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .item_card {
            margin: 1rem;
            max-width: fit-content;
            padding: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 8px;

            .item_title {
                font-size: 18px;
            }

            .item_img {
                width: 20rem;
                height: 12rem;
            }

            .item_txt {
                font-size: 18px;
            }

            .item_info {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;
                margin: 0.5rem 0;

                .item_info_txt {
                    font-size: 14px;
                }
            }
        }


    }

}