.main_itemlist_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-self: center;
    align-self: center;

    .main_items_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: fit-content;
        margin: 1rem;
        gap: 1rem;

        .item_card {
            width: 400px;
            box-shadow: 0 4px 8px #0003;
            border-radius: 8px;

            .item_link {
                text-decoration: none;
                color: black;

                .item_img {
                    height: 14rem;
                    width: 100%;
                    object-fit: cover;
                }

                .item_container {
                    padding: 1rem;

                    .item_title {
                        color: $color-1;
                        font-weight: bold;
                    }

                    .item_direction {
                        margin: 0.5rem 0;
                        color: $color-2;
                    }

                    .item_info {
                        display: flex;
                        justify-content: space-between;

                        .item_info_txt {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .item_imp_container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    border-top: 1px solid grey;

                    .item_imp_txt {
                        font-weight: bold;
                    }
                }
            }
        }

    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .main_itemlist_container {

        .main_items_container {
            .item_card {
                width: 300px;
            }

        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main_itemlist_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-self: center;
        align-self: center;

        .main_items_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            height: fit-content;

            .item_card {
                width: 100%;

                
                .item_link {

                    .item_img {
                        height: 13rem;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 767px) {

    .main_itemlist_container {
        display: flex;
        flex-direction: column-reverse;

        .main_items_container {
            justify-content: center;
            margin: 0;

            .item_card {
                width: 100%;

                .item_link {

                    .item_img {
                        height: 13rem;
                    }
                }
            }

        }
    }

}