.nosotros_banner {
    height: 30vh;
    background-image: url("/Iglesia-Maria-Auxiliadora.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .nosotros_txt {
        color: $color-3;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 28px;
    }
}

.nosotros_container {
    margin: 0 20%;

    .nosotros_card {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin: 2rem 0;

        .nosotros_card_container {
            text-align: left;

            .nosotros_card_title {
                margin: 1rem 0;
                color: $color-1;
                font-weight: bold;
                font-size: large;
            }

            .nosotros_card_txt {
                font-weight: 500;
            }
        }
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .nosotros_container {
        margin: 0 10%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nosotros_container {
        margin: 0 5%;

        .nosotros_card {

            .nosotros_card_container {

                .nosotros_card_title {
                    font-size: 20px;
                }

                .nosotros_card_txt {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .nosotros_banner {
        height: 15vh;
    }

    .nosotros_container {
        margin: 0 5%;
    }
}

