.nosotros_container {
    margin: 0 20%;

    .nosotros_card {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin: 2rem 0;

        .nosotros_card_container {
            text-align: left;

            .nosotros_card_title {
                margin: 1rem 0;
                color: $color-1;
                font-weight: bold;
                font-size: large;
            }

            .nosotros_card_txt {
                font-weight: 500;
            }
        }
    }

}