.footer_bg {
    width: 100%;
    background-color: $color-2;

    .footer_container {
        color: $color-3;
        margin: 0 10%;
        padding: 2rem 1rem;

        .footer_elements {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo_footer {
                margin: 0 auto;
                width: 12rem;
            }

            .footer_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 16rem;
                text-align: center;

                .footer_title {
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                }

                .social_container {

                    .social_link {
                        color: $color-3;
                        text-decoration: none;
                        margin: 0 0.5rem;
                        font-size: 1.5rem;
                    }

                    .awesome_icon_social:hover {
                        color: $color-1;
                    }
                }
            }

            .footer_ubi_container {
                display: flex;

                .awesome_icon_ubi {
                    margin-right: 12px;
                    color: $color-1;
                }
            }
        }

        .footer_copy {
            margin-top: 2rem;

            .my_site {
                text-decoration: none;
                color: $color-1;
            }
        }

    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .footer_bg {
        .footer_container {
            margin: 0 5%;
    
            .footer_elements {
    
                .logo_footer {
                    width: 14rem;
                    height: 5rem;
                }
    
                .footer_content {
                    width: 14rem;
    
                    .footer_title {
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                    }
    
                    .social_container {
    
                        .social_link {
                            color: $color-3;
                            text-decoration: none;
                            margin: 0 0.5rem;
                            font-size: 1.5rem;
                        }
    
                        .awesome_icon_social:hover {
                            color: $color-1;
                        }
                    }
                }
    
                .footer_ubi_container {
                    display: flex;
    
                    .awesome_icon_ubi {
                        margin-right: 8px;
                        color: $color-1;
                        font-size: 14px;
                    }

                    .footer_ubi_txt {
                        font-size: 14px;
                    }
                }
            }
    
            .footer_copy {
                margin-top: 2rem;
    
                .my_site {
                    text-decoration: none;
                    color: $color-1;
                }
            }
    
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer_bg {
        .footer_container {
            margin: 0 5%;
    
            .footer_elements {
    
                .logo_footer {
                    width: 14rem;
                    height: 5rem;
                }
    
                .footer_content {
                    width: 14rem;
    
                    .footer_title {
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                    }
    
                    .social_container {
    
                        .social_link {
                            color: $color-3;
                            text-decoration: none;
                            margin: 0 0.5rem;
                            font-size: 1.5rem;
                        }
    
                        .awesome_icon_social:hover {
                            color: $color-1;
                        }
                    }
                }
    
                .footer_ubi_container {
                    display: flex;
    
                    .awesome_icon_ubi {
                        margin-right: 4px;
                        color: $color-1;
                        font-size: 14px;
                    }

                    .footer_ubi_txt {
                        font-size: 14px;
                    }
                }
            }
    
            .footer_copy {
                margin-top: 2rem;
    
                .my_site {
                    text-decoration: none;
                    color: $color-1;
                }
            }
    
        }
    }
}

@media screen and (max-width: 767px) {

    .footer_bg {
        .footer_container {
            margin: 0;
    
            .footer_elements {
    
                .logo_footer {
                    width: 6.5rem;
                }
    
                .footer_content {
                    width: 6.5rem;
    
                    .footer_title {
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                    }
    
                    .social_container {
    
                        .social_link {
                            color: $color-3;
                            text-decoration: none;
                            margin: 0 0.5rem;
                            font-size: 1.5rem;
                        }
    
                        .awesome_icon_social:hover {
                            color: $color-1;
                        }
                    }
                }
    
                .footer_ubi_container {
                    display: flex;
    
                    .awesome_icon_ubi {
                        margin-right: 0;
                        color: $color-1;
                        font-size: 14px;
                    }

                    .footer_ubi_txt {
                        font-size: 12px;
                    }
                }
            }
    
            .footer_copy {
                margin-top: 2rem;
    
                .my_site {
                    text-decoration: none;
                    color: $color-1;
                }
            }
    
        }
    }

}