.cards_home_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_home {
    height: 300px;
    width: 350px;
    background-color: $color-2;
    margin: 1rem 2rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .cards_home_title {
        color: $color-1;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .cards_home_txt {
        color: $color-3;
        text-align: left;
        margin: 1rem;
    }
}

.cardsSlideMobile {
    display: none;
}


@media screen and (min-width: 768px) {
    .cards_home_container {
        display: none;
    }
    
    .cardsSlideMobile {
        margin: 0 auto;
        display: block;
        height: 270px;
        width: 650px;

        .cards_home {
            height: 200px;
            width: 350px;
            padding: 1rem;
            margin: 1rem auto;
    
            .cards_home_title {
                font-size: 20px;
                margin-bottom: 12px;
            }
    
            .cards_home_txt {
                margin: 0;
                font-size: 16px;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .cards_home_container {
        display: none;
    }
    
    .cardsSlideMobile {
        display: block;
        height: 270px;

        .cards_home {
            height: 200px;
            width: 250px;
            padding: 0.5rem;
            margin: 1rem auto;
    
            .cards_home_title {
                font-size: 16px;
                margin-bottom: 5px;
            }
    
            .cards_home_txt {
                margin: 0;
                font-size: 12px;
            }
        }
    }

}