.slide_container {
    margin-bottom: 5rem;

    .img_slide {
        height: 750px;
        width: 100%;
    }

    .container_info_slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        top: 150px;

        background-color: rgba(0, 0, 0, 0.925);
        width: 900px;
        height: 450px;

        .title_slide {
            color: $color-1;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 26px;
            margin-bottom: 1rem;
        }

        .txt_slide {
            color: $color-3;
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .slide_container {
        margin-bottom: 3rem;
        .img_slide {
            height: 500px;
            width: 100%;
        }
    
        .container_info_slide {
            top: 110px;

            width: 650px;
            height: 270px;
    
            .title_slide {
                font-size: 20px;
            }
    
            .txt_slide {
                font-size: 16px;
            }
        }
    }



}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .slide_container {

        .img_slide {
            height: 450px;
            width: 100%;
        }

        .container_info_slide {
            margin: 0 auto;
            top: 100px;
            padding: 1rem;
            width: 550px;
            height: 300px;

            .title_slide {
                color: $color-1;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 1rem;
            }

            .txt_slide {
                color: $color-3;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .slide_container {

        .img_slide {
            height: 300px;
            width: 100%;
        }

        .container_info_slide {
            top: 80px;
            padding: 0.5rem;
            width: 270px;
            height: 150px;

            .title_slide {
                font-size: 13px;
                margin-bottom: 0.5rem;
            }

            .txt_slide {
                color: $color-3;
                font-size: 11px;
            }
        }
    }
}