.servicios_banner {
    height: 30vh;
    background-image: url("/PLAZA-SAN-MARTIN.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .servicios_txt {
        color: $color-3;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 28px;
    }
}

.servicios_container {
    margin: 0 20%;

    .servicios_content {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-2;

        .servicios_info {
            margin: 1.5rem 1rem;
            color: $color-3;

            .servicios_titles {
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: $color-1;
            }

            .servicios_txt {
                text-align: left;
                padding: 1rem;
            }
        }

        .servicios_container_img {
            .servicios_content_img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .servicios_container {
        margin: 0 5%;

        .servicios_content {
            .servicios_info {

                .servicios_titles {
                    font-size: 1.3rem;
                }

                .servicios_txt {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .servicios_banner {

        .servicios_txt {
            font-size: 26px;
        }
    }

    .servicios_container {
        margin: 0 5%;

        .servicios_content {
            display: flex;
            flex-direction: column;

            .servicios_info {

                .servicios_titles {
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }

                .servicios_txt {
                    font-size: 16px;
                }
            }


            .servicios_container_img {
                .servicios_content_img {
                    height: 300px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .servicios_banner {
        height: 15vh;

        .servicios_txt {
            font-size: 22px;
        }
    }

    .servicios_container {
        margin: 0 5%;

        .servicios_content {
            display: flex;
            flex-direction: column;

            .servicios_info {
                .servicios_titles {

                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }

                .servicios_txt {
                    font-size: 12px;
                }
            }


            .servicios_container_img {
                .servicios_content_img {
                    height: 180px;
                    width: 100%;
                }
            }
        }
    }
}