.venta-alquiler_container {
    margin: 0 20%;

    .venta-alquiler_title {
        text-align: center;
        margin: 1rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .venta-alquiler_container {
        margin: 0 10%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .venta-alquiler_container {
        margin: 0 10%;
    }

}

@media screen and (max-width: 767px) {
    .venta-alquiler_container {
        margin: 0 5%;
    
        .venta-alquiler_title {
            margin: 0.5rem;
        }
    }
    
}